/* start my frame work */
.fl-left {
    float: left;
}
.fl-right {
    float: right;
}

p {
    line-height: 1.6;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.middle {
    margin: 0 5%;
}

.mg-b-5 {
    margin-bottom: 5px;
}

.mg-b-10 {
    margin-bottom: 10px;
}

.mg-b-15 {
    margin-bottom: 15px;
}

.mg-b-20 {
    margin-bottom: 20px;
}

.mg-b-25 {
    margin-bottom: 25px;
}