* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}

.clear-fix {
    clear: both;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --mainColor: #6195ff;
    --whiteColor: #ffffff;
    --grayColor: #999999;
}

/* end gaeneral use */
/* start commoan used style */
.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: montserrat, sans-serif;
}

button {
    font-family: 'Varela Round', sans-serif;
}

.hover-opacity {
    transform: opacity 0.5s;
}

.hover-opacity:hover {
    opacity: 0.8;
}

.padding-y {
    padding: 120px 0;
}

.ltr-effect {
    position: relative;
}

.ltr-effect:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 100%;
    background-color: #333333;
    /* opacity: 0.7; */
    top: 0;
    left: 0;
    transition: width 0.5s;
    z-index: -1;
}

.ltr-effect:hover:after {
    width: 100%;
}

.top-bottom-effect {
    position: relative;
}

.top-bottom-effect:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    background-color: #333333;
    /* opacity: 0.7; */
    top: 0;
    left: 0;
    transition: color 0.5s;
    transition: height 0.5s;
    z-index: -1;
}

.top-bottom-effect:hover:after {
    height: 100%;
}

.top-bottom-effect:hover .pricing-item-permonth {
    color: var(--whiteColor)
}

/* end commoan used style */
body {
    font-family: 'Varela Round', sans-serif;
}

/* start header */
.header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: var(--whiteColor);
    z-index: 3;
    top: 0;
}

.header .logo {
    width: 40%;
}

.header .logo img {
    width: 25%;
    margin-top: 15px;
    cursor: pointer;

}

.header .nav {
    width: 60%;
    list-style: none;
    text-align: right;

}

.header .nav>li {
    display: inline-block;
    text-align: right;
}

.header .nav>li>a {
    color: #000000;
    display: block;
    padding: 30px 10px;
    font-size: 15px;
}


.header .nav>li>a.active:after,
.header .nav>li>a:after {
    content: '';
    height: 3px;
    width: 0;
    background-color: var(--mainColor);
    display: block;
    margin-top: 2px;
    transition: width 0.5s;
}

.header .nav>li>a.active:after {
    width: 100%;
}

.header .nav>li>a:hover:after {
    width: 100%;
}

.dropdown {
    position: relative;

}

.dropdown-menu {
    position: absolute;
    background-color: var(--mainColor);
    width: 150px;
    top: 90%;
    left: -70%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.75s;
}

.dropdown-menu a {
    color: var(--whiteColor);
    padding: 10px;
    display: block;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

/* end header */
/* start section bread-crump */
.bread-crump {
    background-color: #fafafa;
    margin: 60px auto;
    padding: 80px 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;

}

.bread-crump-title {
    font-size: 35px;
}

.naveigat li {
    display: inline;

}

.naveigat li a {
    padding: 30px 5px;
    color: var(--grayColor);
}

.naveigat li a.active {
    color: var(--mainColor);
}

.naveigat li a::after {
    content: '/';
}

.naveigat li a.blog-post::after {
    content: '';
}

/* end section bread-crump */
/* start main content section */
.main-content {
    width: 70%;
}
.main-content .main-img img{
    width: 100%;
}
.main-content .blog-list li {
    display: inline-block;
    margin: 10px 0;
}

.blog-list li i {
    color: var(--mainColor);
}

.main-title {
    padding: 20px 0;
}

.main-desc {
    color: var(--grayColor);
    text-align: justify;
    margin-bottom: 50px;
}

.main-tags .tags {
    font-size: 20px;
    font-weight: bold;
}

.main-tags i.icon {
    color: var(--mainColor);
}

.main-tags li {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #e8e8e8;
    color: var(--grayColor);
    cursor: pointer;
}

.posts .posts-item {
    padding: 20px;
    border: 1px solid #e8e8e8;
    margin-bottom: 30px;

}

.posts-item .posts-img {
    width: 25%;
}

.posts-img img {
    width: 100%;
}

.posts .posts-content {
    padding-left: 20px;
    width: 75%;
}

.posts-content .content-top {
    padding-bottom: 35px;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}

.social-links {
    position: absolute;
    display: inline-block;
    right: 5px;
    top: 0;
}

.social-links li {
    padding: 5px;
    margin: 0 2px;
    display: inline-block;
    cursor: pointer;
    border-radius: 2%;
    background-color: var(--mainColor);
}

.social-links li a {
    color: var(--whiteColor);
}

.post-item-desc p {
    padding: 20px 0;
    color: var(--grayColor);
}
.comments{
margin-bottom: 50px;
    border: 1px solid #e8e8e8;
}
.comments-title{
    margin-bottom: 25px;
}
.comments-title .line{
    width: 40px;
    height: 4px;
    color: var(--mainColor);
    display: block;
    padding-right: 10px;

}
.comments-item{
    padding: 20px;
    border: 1px solid #eee;
}
.comments-item .comments-img{
    width: 12%;
}
.comments-img img{
    width: 100%;
}
.comments-item-conten{
    padding-left: 20px;
    width: 88%;
}
.comments-item.last{
    border-bottom: 0;
    border-top: 0;
}
.top-content{
    margin-bottom: 10px;
}
.top-content .name{
    display: inline-block;
}
.top-content .time{
    padding-left: 10px;
    color: gray;
}
.top-content button{
    font-weight: bold;
    color: var(--mainColor);
    background-color: var(--whiteColor);
    border: 0;
    padding: 10px 30px;
    margin: 0 10px;
    cursor: pointer;
}

.comments .replay {
    padding: 30px;
}
.replay .comments-item:hover{
    border: 1px solid #6195FF;
    border-bottom: none;
    background-color: #e8e8e8;
    cursor: pointer;
}
/* end main content section */
/* start contact us section */
.section-header .line {
    width: 40px;
    height: 4px;
    background-color: var(--mainColor);
    display: block;
    margin: 0 0 10px;
    padding-right: 10px;
}
.contact-form {
    margin: auto;
        margin-bottom: 150px;

}
.contact-form input,textarea {
    padding: 10px 5px;
    background-color: #e8e8e8;
    border: 0;
    border-radius: 5px;
    display: inline-block;
    margin: 5px auto;
}

.cotact-form-info input {
    width: 49%;
}

.contact-form-message input,
textarea {
    min-width: 99%;

}
.contact-form-message button {
    color: var(--whiteColor);
    background-color: var(--mainColor);
    min-width: 100px;
    border: 0;
    border-radius: 5px;
    padding: 10px 5px;
    cursor: pointer;
    font-size: 17px;
    margin-top: 5px;

}

/* end contact us section */
/* start aside section */
.aside {
    width: 25%;
    background-color: #fafafa;
    min-height: 100px;
}
.aside .search form{
    position: relative;
}
.aside .search form i {
    position: absolute;
    right: 10px;
    top: 6px;
    cursor: pointer;

}
.aside .search form input {
    width: 100%;
    height: 30px;
    background-color: #e8e8e8;
    border: 0;

}
.aside .search form input:hover {
    border: 1px solid #6195FF;
}

.aside .category{
    margin: 15px 0;
    overflow: hidden;
}
.category .category-title{
        color: rgb(48, 47, 47);

}
.category li{
        border-top: 1px solid #e8e8e8;
        padding: 5px;
}
.category li:last-child {
    border-bottom: 1px solid #e8e8e8;
}
.category li a{
    color: var(--grayColor);
}
.category li a:hover{
    color: var(--mainColor);
}
.category li span{
    color: var(--mainColor);
}


.posts .popular-posts {
    margin: 30px 0;

}
.popular-posts .popular-posts-title {
    color: rgb(48, 47, 47);

}

.popular-posts-item{
    position: relative;
    margin-bottom: 80px;
}

.popular-img{
    width: 30%;
    height: 70px;
    position: absolute;
}
.popular-img img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.popular-desc {
    padding-left: 110px;
}
.popular-desc .title {
    margin-bottom: 10px;
}
.popular-desc .title a, p{
color:var(--mainColor);
}

.tags-item span {
    display: inline-block;
    padding: 5px;
    background: #e8e8e8;
    margin: 0 0 3px 0;
    cursor: pointer;
}
/* end aside section */
/* start footer */
.footer {
    background-color: #1c1d21;
}

.footer-items {
    text-align: center;
}

.footer-items .footer-linkes {
    margin: 25px 0;
}

.footer-items .footer-linkes li {
    display: inline-block;
}

.footer-linkes li a {
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--mainColor);
    color: var(--whiteColor);
    line-height: 50px;
    margin: 0 5px;
    border-radius: 10%;
}

.footer-items .copyrights {
    color: var(--grayColor);
    font-size: 15px;
}

.footer-items .copyrights>span {
    color: var(--mainColor);
    cursor: pointer;
}

/* end footer */